<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Check</title>
    <link rel="stylesheet" type="text/css" href="../static/check.css">
  </head>
  <body>
  <div class="container">
    <h1>Question No:{{ Index }}</h1>
    <h3>Solution Status:{{ Success }}</h3>
    <h3>Your total Score:{{ Score }}</h3>
    <a><h5 onclick="window.history.back()"><- Go Back to Coding Region</h5></a>
    <!-- <a onclick="window.history.back()">Bo Back to Coding Region</a> -->
    <div class="row">
      <img src="../static/img/Congo.svg" alt="Coding" class="img-thumbnail" >
    </div>
  </div>

  </body>
</html>
